{% extends 'AppTraveling/padre.html'  %}

{% block titulo %} Destinos {% endblock titulo %}


{% block descripcion %}
No existen paginas para destinos
{% endblock descripcion %}

{% comment %}

Esto lo iba a poner pero me ocurria un error, por esto mismo pongo que no hay paginas disponibles para destinos.

	{% block descripcion %}
	<a href="{% url 'Agregar destinos' %}">Agregar</a>
	
	    {% for v in destino %}
	
	        <li>{{v}}</li>
	
	        <button>    
	            <a href="{% url 'Editar destinos' v.nombre %}"> Actualizar </a> 
	        </button>
	        <button>
	            <a href="{% url 'Borrar destinos' v.nombre %}">Eliminar </a>
	        </button>
	    {% endfor %}
	
	{% endblock descripcion %}
{% endcomment %}
