{% extends 'AppTraveling/padre.html'  %}


{% block titulo %} Bienvenidos {% endblock titulo %}


{% block descripcion %}

Esta agrencia cuenta con una tecnología de vanguardia para que tus bisquedas 
sean faciles, rapidas, completas y asegurándote asi los mejores precios y 
ofertas en todos los servicios que necesites para tus viajes y con las formas más convenientes.

<p>*********************************************************************</p>

<p style="color: aliceblue;">Esta es una pagina que fue creada como proyecto final del curso Python dictado por Coder House y dado por la municipalidad de Pilar.</p>


{% endblock descripcion %}
